{# templates/home/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
</head>
<body>
    <h1>Chào mừng bạn đến với trang chủ!</h1>
    <p>Đây là một trang thử nghiệm trong Symfony.</p>
</body>
</html>
